@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
html{
    scroll-behavior: smooth;
}
.header{
    height: 60px;
    width: 100%;
    display: flex;
    /* background-color:rgba(16,128,234,1); */
    justify-content: center;
    position: fixed;
    transition: 0.5s ease;
    z-index:2;
    
}
.container{
    width:90%;
    display: flex;
}
.header-container{
    justify-content: space-between;
}
.logo{
    height:70px;
    width: 15%;
    margin-left: 7rem;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.nav{
    display: flex;
    height: 70px;
    width:47%;
    margin-right:7rem;
}
.nav-item{
    width:20%;
    height:70px;
    font-size: 16px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    cursor: pointer;
}
.nav-item a{
    text-decoration: none;
    position: relative;
    color:#fff;
    transition: 0.3s ease;
}
.nav-item a:before{
    content:""; 
    position: absolute;
    background: rgb(251,223,113);
    background: #fff;
    height:3px;
    width:0;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.nav-item :hover{
    color:rgb(251,223,113);
}
.nav-item a:hover:before{
    background: rgb(251,223,113);
    width:100%;
}
.banner{
    width:100%;
    height:550px;
    background-image: url('./img-1.jpg');
    background-size: cover;
    transition: 0.4s;
}
.banner-container{
    padding: 10rem;
    margin-left: 7rem;
}
.banner-tit{
   color:#fff;
   font-size: 1.3rem;
   padding-bottom: 1rem;
}
.banner-text{
   color:#fff;
   padding-bottom: 1rem;
}
.btn-1{
   padding:0.6rem 1.2rem;
   background: rgb(251,223,113);
   border: 1px;
   border-radius: 2px;
   cursor: pointer;
   transition: 0.3s ease-in;
}
.btn-2{
    padding:0.6rem 1.2rem;
    background: rgb(97, 73, 123);
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease-in;
}
.btn-1-text{
    font-weight: bold;
}
.btn-2-text{
    font-weight: bold;
}
.btn-1:hover{
    background: rgb(97, 73, 123);
    color: #fff;
}
.btn-2:hover{
    background: rgb(251,223,113);
    color: #000;
}

.slider-navigation{
   position: relative;
   display:flex;
   justify-content: center;
   align-items: center;
   /* transform: translateY(6px); */
   margin-top:100px;
   margin-right: 780px;
}
.slider-navigation .navbtn{
    width: 12px;
    height: 12px;
    background:#fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.3s ease;
}
.slider-navigation .navbtn:not(:last-child){
    margin-right: 3px;
}
.slider-navigation .navbtn:hover{
    background: rgb(97, 73, 123);
    transform:scale(1.2);
}
.home-tit{
    text-align: center;
    margin:3rem;
}
.home-container{
    display:flex;
    justify-content: center;
    margin: 3rem;
}
.home-img{
    width:150px;
    height:150px;
    
    
}
.home-text{
    color: grey;
    font-size: 1.5rem;
    padding: 2rem;
}
.opt{
    padding:0 20%;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    text-align: center;
}
.opt-tit{
    color:rgb(97, 73, 123);
}
.col{
    margin-right: 30px;
    justify-content: center;
}
.icon{
    background: rgb(97, 73, 123);
    padding: 20px;
    font-size: 1rem;
    size: 1rem;
    border-radius: 50px;
    color: white;
}
.info{
    width: 60%;
    text-align: center;
    padding: 0;
    margin-left: 50px;
    color: grey;
}
.btn-home{
   padding:0.6rem 1.2rem;
   background: rgb(251,223,113);
   border: 1px;
   border-radius: 2px;
   cursor: pointer;
   transition: 0.3s ease-in;
}
.btn-home:hover{
    background: rgb(97, 73, 123);
    color:#fff;
}
.btn-text{
    font-weight: bold;
}
hr {
    width: 60%;
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: rgba(160, 154, 154, 0.733);
    margin-bottom: 50px;
    margin-left: 270px;
}
.project-tit{
    text-align: center;
    margin:3rem;
    font-size: 2rem;
}
.project-details{
    display: flex;
    flex-direction: row;
    
}
.project{
    align-items: center;
    background: rgb(241, 236, 236) ;
    width:25%;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.project-img{
    width: 100%;
    height: 400px;
}
.proj-tit{
    margin-left:1rem;
}
.proj-text{
    margin: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color:grey;
}
.btn-project{
   padding:0.6rem 1.2rem;
   background:#fff ;
   border: 1px;
   border-radius: 2px;
   cursor: pointer;
   margin: 1rem;
   margin-bottom: 3rem;
   transition: 0.3s ease-in;
}
.project:hover{
    background: rgb(251,223,113);
}
.btn-project:hover{
    background: rgb(97, 73, 123);
    color: #fff;
}
.price-tit{
    text-align: center;
    margin:3rem;
    font-size: 2rem;
}
#Pricing{
    height: 450px;
}
.pricing{
    
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

.pricing-table{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 100px ;
}

.price{
    padding-right: 10px;
    padding-left: 5%;
}

.pricebtn{
    margin: 1rem;
    padding:0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background: rgb(251,223,113);
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    color:#000;
    font-size:1rem;
    font-weight:bold;
    transition: 0.3s ease-in;
}

.pricebtn:hover{
    background: rgb(97, 73, 123);
    color: #fff;
}
.title{
    color:grey;
    margin: 1rem;
}
.vl{
    border-left: 4px solid rgb(209, 206, 206);
    height:300px;
    margin-left: 2rem;
}
.video-tit{
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    color:#FFF;
}
.video-project{
    background-color: rgb(97, 73, 123);
    height: 430px;
}
.playpause:hover{
    width:17%;
    height:30%;
}
.wrapper{
   display: flex;
   justify-content: space-evenly;
   width:100%;
}
.video {
    transition: transform .4s linear; 
    box-shadow: 0 3px 10px rgb(0 ,0, 0, 0.2);
    width: 380px;
    border: 2px solid rgb(209, 206, 206);
    transition: 0.3s ease;
    margin: 1rem;
    cursor: pointer;
}
#full .video source :hover{
    transform: scale(1.5);
}
#full{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.playpause{
    
    width:15.5%;
    height:27%;
    position:absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s ease;   
}
.Team{
    height:650px;
}
.team-container{
    display: flex;
    justify-content: space-evenly;
}
.team-tit{
    text-align: center;
    padding:2rem;
    font-size: 2.2rem;
}
.team{
    width:200px;
    /* padding: 1rem; */
    transition: transform .4s linear; 
    box-shadow: 0 3px 10px rgb(0 ,0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}
.team:hover{
   transform: scale(1.05);
}
.team img{
    width: 120px;
    height: 150px;
    border-radius: 100px;
    margin: 0.7rem;

}
.team-container .team .i{
    opacity: 0;
    transition: 0.5s ease-in;
}
.team-container .team .i:hover{
    opacity: 1;
    padding:0.3rem;
}
.team-container .team .i i{
    padding:1rem;
}



.tit {
   padding: 2rem;
   text-align: center;
   font-size: 2.2rem;
}
.life{
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
}
.pics{
  display: flex;
  justify-content: space-around;
  transition: 0.3s ease-in;
}
.life .pics img{
   padding: 0.3rem;
   width:17rem;
   cursor: pointer;
   border: 2px solid rgb(105, 98, 98);
   border-radius: 30px;
   margin-bottom: 5rem;
   transition: transform .3s ease; 
   box-shadow: 0 3px 10px rgb(0 ,0, 0, 0.2);
}
.life .pics img:hover{
    transform: scale(1.1);
}

#bigpic{
   display: flex;
   justify-content: center;
   
}
.life #bigpic img{
   padding: 0.3rem;
   width:60%;
   border-radius: 20px;
   transition: 0.3s ease-in;
   border: 1px solid rgb(105, 98, 98);
   margin-bottom: 3rem;

}
#close{
   font-size: 2rem;
   position: relative;
   left: 750px;
   top:20px;
   color: #fff;
   cursor: pointer;
}
.sign{
   height:250px;
   background-image: url('/life-3.jpg');
}
.signup-tit{
    color: #FFF;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
}
.signup{
    display: flex;
    justify-content: center;
}
.signup{
    margin-left: 6rem;
}

.signup .btn-2 {
    position: relative;
    top:50px;
    right:90px;
}
#blog{
    display: flex;
    justify-content: center;
    height: 400px;
}
.blog-tit{
    padding: 2rem;
    text-align: center;
    font-size: 2.2rem;
}
.blog1{
   width:20%;
   text-align: center;
}
.blog1 img{
    width:70%;
    margin:0.5rem;
    cursor: pointer;
    transition: transform .3s ease; 
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 ,0, 0, 0.2);
    padding:0.3rem;
}
.blog1 img:hover{
    transform: scale(1.1);
}
.blog1 span{
    padding: 1rem;
}
.blog1 p{
    font-size:0.8rem;
    padding: 1rem;
}
.blog1 .btn-1{
   background-color:rgb(241, 241, 241);
   font-weight: 700;
}
.blog1 .btn-1:hover{
    background-color:rgb(251,223,113);
    color:#000;
}
.contact{
    display: flex;
    height:530px;
}
.contact-tit{
    font-size: 2.2rem; 
    padding-bottom: 1rem;
}
.contact-form{
    background-color:rgb(251,223,113);
    padding:1rem;
    width: 600px;
    border:none;
}
.contact-form h5{
   padding-bottom:0.4rem;
   font-size:0.8rem;
   font-weight: 500;
}
.contact-form button{
    background-color: rgb(97, 73, 123);
    margin-top:0.3rem;
    margin-bottom:3rem;
    padding:0.6rem 6.4rem;
    border: 1px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s ease-in;
    color:#fff;
}
textarea{
    border: none;
}
.address{
    text-align: center;
}
.address h5{
    padding-bottom:0.4rem;
   font-size:1rem;
   font-weight: 600;
}
.address p{
    font-size: 0.8rem;
}
.address i{
    padding:1rem;
    transition: transform .3s ease;
    cursor: pointer; 
}
.address i:hover{
    transform: scale(1.2);
}
.footer{
    display: flex;
    justify-content: space-around;
    padding:4rem;
    background-color: #000;
    color:#fff;
}






